/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ff6060;
}

body {
  font-family: "Montserrat";
  background-color: #fff;
  color: #fff;
  padding-bottom: 5em;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 20000;
}

@media (max-width: 1024px) {
  /* Header component */
  header {
    margin: 0.5em;
  }

  /* Card Component */
  .card-gallery-container {
    background: #fff;
    margin: 0.5em;
  }

  /* Section styles */
  .section-text {
    font-size: 3em;
  }

  /* Collapse component */
  .svg-collapse {
    left: 90%;
  }

  .home-page {
    justify-content: center;
    margin: 0.5em;
  }

  .card-gallery-container {
    padding: 0px;
  }

  /* error page */
  .error-page h1 {
    font-size: 2em;
  }

  /* Carousel Component */
  .carousel-image img {
    height: 380px;
  }

  /* Section styles */
  .home-page .section1 {
    margin: 0.5em 0.5em 1.5em 0.5em;
  }

  /* About page */
  .about-page {
    margin: 0 1em 0 1em;
  }

  /* Property page */
  .property-page .wrapper {
    padding: 0;
  }

  .property-page .carousel {
    margin-top: 1.5em;
  }

  .about-page .section-header svg {
    left: 94.5%;
  }
}

@media (max-width: 768px) {
  /* Header component */
  header {
    margin: 0.5em;
  }

  .property-page header {
    padding: 2em;
  }

  header img {
    margin: 10px auto;
    max-width: 120px;
  }

  nav ul {
    gap: 1em;
    align-items: center;
  }

  nav li {
    margin: 10px 0;
  }
  nav a {
    font-size: 18px;
  }

  /* Card Component */
  .card-gallery-container {
    background: #fff;
    margin: 0.5em;
  }

  .card-div {
    flex-basis: calc(100%);
    width: 90%;
  }

  /* Section styles */
  .home-page .section1 {
    margin: 0.5em 0.5em 1.5em 0.5em;
  }

  .section1 {
    text-align: left;
    margin: 0;
  }

  .section-text {
    font-size: 2.5em;
    left: 36%;
  }

  .section1 img {
    height: 180px;
  }

  /* Collapse component */
  .collapse-div {
    width: 100%;
  }

  .about-page .section-header {
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
  }
  .collapse-content {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.6%;
  }

  .svg-collapse {
    left: 93%;
  }

  /* error page */
  .error-page h1 {
    font-size: 1.5em;
  }

  /* home page */
  .home-page {
    margin-bottom: 3em;
  }
  .home-page .section1 {
    margin: 0.5em 0 1.5em 0em;
  }

  .card-gallery-container {
    background: #fff;
    margin: 0em;
  }

  /* About page */
  .about-page {
    margin: 0 0.5em 0 0.5em;
  }

  .about-page {
    margin-bottom: 5em;
  }

  .about-page .section-header svg {
    width: 14px;
    height: auto;
    left: 93%;
  } 

  /* Carousel Component */
  .carousel-image {
    width: 100%;
    overflow: hidden;
  }

  .property-page .carousel-image img {
    max-width: 100%;
    height: 300px;
  }

  /* Property page */
  .property-page {
    margin: 0.5em;
  }

  .property-page .wrapper {
    margin-bottom: 3em;
  }

  .property-details {
    flex-direction: column;
  }

  .host-rate-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    margin-top: 0;
  }

  .property-page .dropdowns {
    flex-direction: column;
    gap: 1.5em;
  }

  .property-page .svg-collapse {
    left: 94%;
  }

  .property-page .tag-div li {
    width: 12em;
    font-size: 10px;
    padding: 1em;
  }

  .property-page .host-name {
    font-size: 12px;
    font-style: normal;
  }

  .property-page .rate-div svg {
    width: 14px;
    height: auto;
  }

  .property-page .title-text {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
  }

  .property-page .section-header {
    font-size: 13px;
  }

  .property-page .section-header svg {
    width: 14px;
    height: auto;
  }

  .property-page .carousel-controls svg {
    width: 24px;
    height: auto;
  }

  .property-page .carousel {
    margin-top: 0.5em;
  }

  /* Footer component */
  .footer {
    padding: 2em;
  }
  .footer img {
    max-width: 80px;
  }
  .footer p {
    max-width: 30%;
    margin: 0 auto;
  }
}

@media (max-width: 375px) {
  /* Header component */
  header img {
    max-width: 80px;
  }

  nav li {
    margin: 5px 0;
    text-transform: uppercase;
    color: #ff6060;

    text-align: right;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
  }

  nav a {
    font-size: 16px;
  }

  /* Card Component */
  .card-gallery-container {
    margin: 0.5em 0;
  }

  /* Carousel Component */
  .carousel-image {
    width: 100%;
    overflow: hidden;
  }

  .carousel-image img {
    max-width: 100%;
    height: 255px;
  }

  /* Property page */
  .property-page .carousel-controls svg {
    width: 25px;
    height: auto;
  }

  .section-header {
    font-size: 18px;
  }

  /* Tag Component */
  .tag-div li {
    margin: 0.5em 0.3em 0.5em 0.3em;
    width: 6em;
  }

  /* Section styles */
  .section1 {
    text-align: left;
    margin: 0;
  }

  .section-text {
    font-size: 1.25em;
    left: 36%;
  }

  .section1 img {
    height: 111px;
    width: 95%;
  }

  /* Collapse Component */
  .collapse-div {
    width: 100%;
  }

  /* Error page */
  .error-page h1 {
    font-size: 1em;
  }

  .error-page p {
    font-size: 0.5em;
  }

  /* Home page */
  .section1 img {
    height: 111px;
    width: 100%;
  }

  /* About page */
  .about-page {
    margin: 0 0.2em 6em 0.2em;
  }

  .about-page .dropdowns {
    margin: 2em 0.5em 0 0.5em;
  }

  .about-page .section-header {
    font-size: 1em;
  }

  .about-page .section-header svg {
    left: 88%;
  }

  /* Property page */
  .property-page {
    margin: 0.5em;
  }

  .property-page .title-text {
    color: #ff6060;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
  }

  .property-page .location-text {
    color: #ff6060;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }

  .tag-div {
    border-radius: 5px;
  }

  .property-page .tag-div li {
    color: #fff;
    text-align: center;
    font-size: 10px;
    font-style: normal;
  }
  .property-page .host-name {
    text-align: right;
    font-size: 12px;
  }

  .property-page .section-header svg {
    left: 88%;
  }

  .property-page .carousel {
    margin-top: 0em;
  }
}
