/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #FF6060;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FFF;
  color: #FFF;
  padding-bottom: 5em;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 20000;
}
