.carousel {
  position: relative;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  width: 100%;
  position: relative;
}

.carousel-images.sliding {
  transition: transform 0.5s ease-in-out, border-radius 0.5s ease-in-out;
}

.carousel-image {
  flex: 0 0 100%;
  position: relative;
}

.carousel-image img {
  max-width: 100%;
  width: 100%;
  border-radius: 1em;
  object-fit: cover;
  height: 480px;
}

.carousel-image.active {
  transform: translateX(0);
  border-radius: 1em;
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.carousel-control {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control.prev {
  font-size: xx-large;
  margin-left: 1em;
}

.carousel-control.next {
  font-size: xx-large;
  margin-right: 1em;
}

.carousel-index {
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  z-index: 1000;
}

@media (max-width: 1024px) {
  /* Carousel Component */
  .carousel-image img {
    height: 380px;
  }

  /* Section styles */
  .home-page .section1 {
    margin: 0.5em 0.5em 1.5em 0.5em;
  }

  /* About page */
  .about-page {
    margin: 0 1em 0 1em;
  }

  /* Property page */
  .property-page .wrapper {
    padding: 0;
  }

  .property-page .carousel {
    margin-top: 1.5em;
  }

  .about-page .section-header svg {
    left: 94.5%;
  }
}

@media (max-width: 768px) {
  /* Carousel Component */
  .carousel-image {
    width: 100%;
    overflow: hidden;
  }

  .property-page .carousel-image img {
    max-width: 100%;
    height: 300px;
  }

  .property-page .carousel-controls svg {
    width: 24px;
    height: auto;
  }

  .property-page .carousel {
    margin-top: 0.5em;
  }
}

@media (max-width: 375px) {
  /* Carousel Component */
  .carousel-image {
    width: 100%;
    overflow: hidden;
  }

  .carousel-image img {
    max-width: 100%;
    height: 255px;
  }

  /* Property page */
  .property-page .carousel {
    margin-top: 0em;
  }

  .property-page .carousel-controls svg {
    width: 25px;
    height: auto;
  }
}
