@import '../index.css'; /* Import global styles */

.collapse-div {
  width: 40em;
}

.section-header {
  position: relative;
  width: 100%;
  background: #ff6060;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
  border: none;
  font-size: 1em;
  align-self: stretch;
  transition: background 0.3s ease-in-out;
}

.collapse-content {
  position: relative;
  max-height: 0;
  overflow: hidden;
  background: #f6f6f6;
  color: #ff6060;
  border-radius: 0px 0px 10px 10px;
  transition: max-height 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform-origin: top;
  transform: scaleY(0); /* Initially set */
}

.collapse-content.open {
  max-height: 100vh; /* expand to the full height */
  transform: scaleY(1); 
}

.collapse-content p.contenu-p {
  background: #f6f6f6;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
  color: #ff6060;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  transition: max-height 0.1s ease-in-out;
}

.svg-container {
  display: flex;
  align-items: center;
  position: relative;
}

.svg-collapse {
  position: absolute;
  left: 94.4%; 
  transition: transform 0.3s ease-in-out;
  transform: rotate(-180deg); /* initially rotated to the left */
}

.svg-collapse-down {
  transform: rotate(0deg);
  top: 30%; 
}

.svg-collapse-up {
  transform: rotate(180deg);
}
