@import "../index.css"; /* Import global styles */

.collapseDiv {
  width: 60em;

}
.section-header {
  width: 100%;
  margin-top: 2em;
  background: var(--Red, #ff6060);
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
  border: none;
  font-size: 16px;
  align-self: stretch;
}

.collapse-icon {
  font-size: 24px;
}

.collapse-content {
  display: none;
  background: #f6f6f6;
  border-radius: 0px 0px 10px 10px;
}

p.contenuP {
  background: #f6f6f6;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;color:#f6f6f6;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  background: #f6f6f6;
}

.section-header.active {
  width: 100%;
  overflow: hidden;
  display: block;
  background: #f6f6f6;
  max-height: 0;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out,transform 0.3s ease-in-out;
  transform-origin: top; 
}
