@import "../index.css"; /* Import global styles */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  margin: 1em 3.4em;
}

header img {
  max-width: 210px;
  height: auto;
  margin-left: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: #ff6060;
  font-weight: medium;
  font-size: 24px;
}

nav a.active {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  /* Header component */
  header {
    margin: 0.5em;
  }
}

@media (max-width: 768px) {
  /* Header component */
  .property-page header {
    padding: 2em;
  }

  header img {
    margin: 10px auto;
    max-width: 120px;
  }

  nav ul {
    gap: 1em;
    align-items: center;
  }

  nav li {
    margin: 10px 0;
  }
  nav a {
    font-size: 18px;
  }
}

@media (max-width: 375px) {
  /* Header component */
  header img {
    max-width: 80px;
  }

  nav li {
    margin: 5px 0;
    text-transform: uppercase;
    text-align: right;
    font-size: 12px;
  }

  nav a {
    font-size: 16px;
  }
}
