@import '../index.css'; /* Import global styles */

.home-page {
  justify-content: center;
  margin: 0.5em 4em 4em 4em;
}

.home-page .section1 {
  margin: 0.2em;
}

.home-page .section1::before {
  background: rgba(0, 0, 0, 0.3); 
  mix-blend-mode: darken; 
}