@import '../index.css'; /* Import global styles */

.property-page {
  margin: 0 auto;
}

.wrapper {
  padding: 0em 2em 0em 2em;
}
.property-page h1 {
  font-size: 24px;
  margin: 0 0 20px;
}

.property-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  border-radius: 5px;
  color: #ff6060;
}

.titleDiv {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.title-text {
  font-size: 20px;
  font-weight: 600;
}

.location-text {
  color: #ff6060;
}

.hostDiv {
  display: flex;
  gap: 0.5em;
}

.host-name {
  font-size: 16px;
  font-weight: 600;
  max-width: 3em;
}

.host-picture img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.tagRateDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rateDiv {
  margin-top: 20px;
  display: flex;
  align-items: center;
  color: #ff6060;
}
.svg-inline--fa {
  height: 2em;
}

svg {
  width: 1.5em;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

svg.active {
  fill: rgba(255, 96, 96, 1);
}

.tag {
  margin-top: 20px;
  font-size: 16px;
}

.dropdowns {
  display: flex;
  flex-direction: row;
  gap: 5em;
  margin: 0 0 3em 0;
}

.section-header {
  border-radius: 0.6em;
  z-index: 1000;
}

li.contenuP {
  border-radius: 0em;
  margin-top: -0.3em;
  color: #ff6060;
}
