@import '../index.css'; /* Import global styles */

.property-page {
  margin: 0 2em 0 2em;
}

.wrapper {
  padding: 0em 2em 0em 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.carousel {
  margin-top: 2.5em;
}

.property-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  border-radius: 5px;
  color: #ff6060;
}

.title-div {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.title-text {
  font-size: 20px;
  font-weight: 600;
}

.location-text {
  color: #ff6060;
}

.host-div {
  display: flex;
  gap: 0.5em;
  justify-content: space-between;
}

.host-name {
  font-size: 16px;
  font-weight: 600;
  max-width: 4.5em;
  align-self: center;
  text-align: right;
}

.host-picture img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.tag-rate-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rate-div {
  display: flex;
  gap: 4px;
  align-items: center;
  color: #ff6060;
}

.svg-inline--fa {
  height: 2em;
  margin: 0 1em 0 1em;
}

svg.active {
  fill: rgba(255, 96, 96, 1);
}

.tag {
  margin-top: 20px;
  font-size: 16px;
}

.property-page .dropdowns {
  display: flex;
  flex-direction: row;
  gap: 5em;
  margin: 0 0 3em 0;
}

.section-header {
  border-radius: 0.6em;
}

li.contenu-li {
  border-radius: 0em;
  color: #ff6060;
  list-style: none;
}

ul.contenu-ul {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1.5em 1em 1.5em 1em;
}

