@import '../index.css'; /* Import global styles */

.tag-div {
  display: flex;
  gap: 5px; 
}

.tag-div li {
  margin: 0em 0.5em 0em 0em;
  width: 10em;
  height: 1.5em;
  border-radius: 10px;
  background: #FF6060;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  list-style: none;
  flex-shrink: 0;
}
